// --------------------
// Definition of variables
$primary: #32c3ff;
$gray:#6c757d;


// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
@import '../node_modules/bootstrap/scss/bootstrap.scss';
// 
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------




// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: Cursive,'LiSu',Arial;
}

.btn-click {
  cursor:pointer;
  text-align:right;
  padding: 10px;
  color:#abc000;
  border:none;
  background-color:rgba(255,255,255,0)
}

.btn-click:focus {
  outline:0;
}


.hint {
  color:#e73f3f;
  font-size:8px;
  margin-bottom:3px;
}

.inputtitle-type {
  text-align:left;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  
  // text-align: center;

  .App-header {
    padding: 0;
    
    .App-title {
      // font-size: 20px;
      background-color:#abc100;
      color: #ffffff;
      padding:15px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-end;
      align-content: center;
      margin:0;

      h3{
        font-size: 0.9rem;
        margin:0;
      }

      .fa-globe{
        font-size:0.9rem
      }
      
        img{
          width:30px;
          height:auto;
          margin-left:10px;
          margin-bottom:15px;
          box-shadow: 2px 2px 3px #ffffff;
          border-radius:15px;
        }
    }
  }



  .App-intro {
    font-size: large;
  }


}

// --------------------
// Style for publick part
.outer-div {
  margin: 3%;
  border:1px solid #abc100;
  box-shadow: 3px 3px 3px #cecece;
  padding:2%;
  border-radius:10px;
  text-align:center;
}

// --------------------
// Style for NavBar component
.navbar {

  box-shadow:3px 3px 2px #cccccc;

  a {
    color:gray;
    padding: 0 5px;
    text-decoration: unset;
    
  }

  a.active {
    font-weight:700;
    color:#abc100;
    // background-color:#ffffff;
  }

  .dropdown-toggle{
    color:gray;
    padding: 0 5px;
    text-decoration: unset;
    font-size:1.0rem;
    
  }

}

// --------------------
// Style for Home component
.Home {
 text-align:center;
}

// --------------------
// Style for Signup component
.Signup {
  
  label{
    width:100%;
    text-align:left;
    color:#abc100;
  }
  input,
  select {
    border:1px solid #abc100;
  }
  button {
    background-color:#abc100;
    border:1px solid #abc100;
  }
} 


// --------------------
// Style for Signup component
.Login {
  padding:5% 5%;

  label {
    color: #abc100;
    font-weight:bolder;
  }
  button {
    background-color:#abc100;
    border:1px solid #abc000;
  }
  
}


// --------------------
// Style for CreateUser component
.create-user {
  .form-group{
    text-align:left;
  }
  .newuser-type {
    color:#abc000;
    font-size:1.2em;
  }
}

.create-child {
  .form-group{
    text-align:left;
  }
  .newuser-type {
    color:#abc000;
    font-size:1.2em;
  }
}
// -------------------
// style for EventDetail
.event-detail {
  width: 100%;
  margin:20px 0;

  .event-detail-title{
    text-align:center;
    color:#abc000;
    font-size:1.5rem;
    padding:5px;
  }
  .event-detail-state,
  .event-detail-description,
  .event-detail-exec-period
   {
    text-align:left;
    font-size:0.7rem;
    padding:1px 5px;
    color:#555555;
  }

  .event-status-summary {
    height:20px;
    line-height:20px;
    padding:5px;
    margin:20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    color:#999999;

    div{
      margin:0 8px;
    }
  }

  .event-status-tag {
    color:#abc000;
    font-size:0.8rem;
  }

  .event-status-tag2 {
    color:#aaaaaa;
    font-size:0.8rem;
  }

  .event-status-detail-title{

    width:100%;
    background-color:#dedede;
    color: #555555;
    // border:1px solid #0c0606;
    padding:0 30px 0 15px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;

    margin:2px 0;


    .div {
      width:50%;
      padding:0 30px;
    }
  }

}

// -------------------
// style for Vote component
.vote {
  .vote-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
  }
}

// -------------------
// style for discussion component
.discussion {
  .discussion-detail {
    text-align:left;
    font-size:0.8rem;
    border-bottom: 1px dashed #cecece;
    margin-bottom:5px;
  }
}

// --------------------
// style for application component
.application {
  table {
    th, td {
      margin:0;
      padding:3px;
      font-size:0.8rem;
    }
  }
  .application-detail-title{
    text-align:left;
    font-size:0.9rem;
    font-weight: 800;
  }
}

// --------------------
// style for Attendence component
.attendence {
  table {
    th, td {
      margin:0;
      padding:3px;
      font-size:0.8rem;
    }
  }
  .attendants-detail-title{
    text-align:left;
    font-size:0.9rem;
    font-weight: 800;
  }

}


// 
// style for PersonalEventDetailOrg
.personal-event-detail-org{
  .attendants-detail-title{
    text-align:left;
    font-size:0.7rem;
    font-weight: 800;
  }
  .table{
    width:80vw;
    overflow:auto;
    font-size:0.8rem;
    tr,td,th {
        margin:0;
        padding:0
    }
  }
  .container {
    font-size:0.6rem;
  }
  div input {
    font-size:0.6rem;
  }
  div.col-1 {
    margin:0;
    padding:0;
  }
  div.col-5 {
    margin:0;
    padding:0;
  }
}

// --------------------
// Style for PersonalEventDetailPart

.event-parti-preprocess{
  .date-choose-btn {
    width:20px;
    height:20px;
    border:4px solid #abc100;
    background-color:#ffffff;
    border-radius:12px;
  }
}

// --------------------
// Style for PersonalEventFinish
.event-org-finish{
  input.check-hours-finish-input{
    border:none;
    width:30px;
  }
  input.check-hours-finish-input:focus {
    outline:none;
  }
}

// --------------------
// Style for CustomToolBar
.rbc-toolbar{
  margin:10px 0;
  font-size:0.8rem;

}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

.event-detail-title{
  text-align:center;
  color:#abc000;
  font-size:1.5rem;
  padding:5px;
}

.event-detail-state,
.event-detail-description,
.event-detail-exec-period
 {
  text-align:left;
  font-size:0.7rem;
  padding:1px 5px;
  color:#555555;
}