// --------------------
// Definition of variables
$primary: #32c3ff;
$gray:#6c757d;


// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
@import '../node_modules/bootstrap/scss/bootstrap.scss';
// 
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------


// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: Arial,Cursive,'LiSu';
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  
  // text-align: center;

  .App-header {
    padding: 0;
    
    .App-title {
      // font-size: 20px;
      background-color:#ffffff;
      color: #abc100;
      padding:0 5% 0 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-end;
      align-content: center;
      margin:0 6% 0 1%;

      h1{
        font-size: 20px;
      }


      
  
        img{
          width:30px;
          height:auto;
          margin-left:10px;
          margin-bottom:15px;
          box-shadow: 2px 2px 3px #ffffff;
          border-radius:15px;
        }
      
    }


  }



  .App-intro {
    font-size: large;
  }


}

// --------------------
// Style for publick part
.outer-div {
  margin: 3%;
  border:1px solid #abc100;
  box-shadow: 3px 3px 3px #cecece;
  padding:2%;
  border-radius:10px;
  text-align:center;
}

// --------------------
// Style for NavBar component
.navbar {
  // background-color:#abc100;
  // // color: #ff4057;
  // border-top:1px solid #abc100;
  box-shadow:3px 3px 2px #cccccc;
  // padding:0;
  // height:50px;
  // line-height:50px;

  

  // .navbar-nav{
  //   margin:0;
  //   padding:0;
  //   height:100%;
  // }


  a {
    color:gray;
    padding: 0 5px;
    text-decoration: unset;
    // display:inline-block;
    // font-size:16px;
    // margin-left:15px;
    // height:100%;
    // margin-top:0;
    // margin-bottom:0;
    // padding-top:0;
    // padding-bottom:0;
    // border-top:1px solid #abc100;
  


  }

  a.active {
    font-weight: bold;
    color:#abc100;
    // background-color:#ffffff;
  }

  
}

// --------------------
// Style for Home component
.Home {
  width:95%;
  margin:10px auto;
  // font-family: 'LiSu';
  
  
  .carousel-item img {
    min-height:400px;
    height:100%;
  }

  .welcome {
    height:100%;
    min-height:400px;
    width:100%;
    border:1px solid #cecece;
    // font-family:'LiSu';

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;

    .left {
      width: 25%;
      margin-left:10px;
      padding:15px;
      

      h3 {
        height: 10%;
        margin-top:10%;
        color:#abc100;
        font-weight:bold;
      }

      .intro {
        display:table;
        margin:0;
        height:70%;
        font-size:1.2em;

        div {
          display:table-cell;
          vertical-align: middle;
          text-align:left;
        }
      }
    }
    .right {
      width: 70%;
      padding:10px 13px;

      .row{
        height:50%;
        width:100%;
        font-size:1.2em;
        color:#ffffff;

        .col-cont1{
          background-color:#a075d1;
        }

        .col-cont2 {
          background-color:#2abea8;
        }

        .col-cont3{
          background-color:#f85959;
        }

        .col-title1 {
          width:100%;
          height: 30%;
          margin-top:10%;
          padding:5%;
          text-align:left;
        }

        .col-content1 {
          width:100%;
          height: 40%;
          padding:5%;
          text-align:right;
        }

        .col-title2 {
          margin-top:15%;
          width:100%;
          height: 30%;
          padding:2%;
          text-align:left;
        }

        .col-content2 {
          width:100%;
          padding:0;
          margin-bottom:0;
          text-align:center;
        }

        .col-content22 {
          width:100%;
          padding:0;
          margin-top:0;
          text-align:right;
        }

        
        .col-content31 {
          width:100%;
          height: 50%;
          padding-top:20%;
          text-align:left;
        }

        .col-content32 {
          width:100%;
          height: 50%;
          padding:5%;
          text-align:right;
        }
      }

      .place-holder {
        margin:0;
        padding:0;
        height:100%;
        width:100%;
        background-color:#cecece;

        img {
          width:100%;
          height:100%;
        }
      }
    }
  }

  .announcement {
    margin-top:10px;
    margin-bottom:10px;
    width:100%;
    height:5%;
    min-height:50px;
    border:1px solid #cecece;
  }

  .about-us{
      height:100%;
      min-height:400px;
      border:1px solid #cecece;
      margin-top:10px;
      padding-top:1%;
      padding-bottom:5%;

    .aboutus-cards {
      

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: stretch;
      align-content: center;

      .cards {
        width:25%;
        padding:1%;

        .card {
          width:100%;
          height:100%;

          .card-image{
            height:80%;
            width:100%;
            padding:1px;
          }

          button {
            border:none;
            background-color:transparent;
            color:#abc100;
            font-weight:bold;
            border:none;
            outline:none;
          }
          
        }

        .card-image img{
          width:100%;
          height:100%;
        }

      }
    }

    .selected-card{
      margin:0;
      width:100%;
      padding:1%;
      text-align:left;
    }
  }


  p {
    font-size: 1.2em;
  }
}

// --------------------
// Style for Signup component
.Signup {
  
  label{
    width:100%;
    text-align:left;
    color:#abc100;
  }
  input,
  select {
    border:1px solid #abc100;
  }
  button {
    background-color:#abc100;
    border:1px solid #abc100;
  }
} 


// --------------------
// Style for Signup component
.Login {
  padding:5% 5%;

  label {
    color: #abc100;
    font-weight:bolder;
  }
  button {
    background-color:#abc100;
    border:1px solid #abc000;
  }
  
}

// --------------------
// Style for MissionList component
.Mission-list{
  
}

// --------------------
// Style for Mission Detail component
.Mission-detail{
  .tab-content{
    max-height:500px;
    overflow:auto;
  }
  
 
  .dis-content{
    text-align:left;
    font-size:20px;
    min-height:70px;
    height:100%;
    width:100%;
    padding:0;
  }
  .dis-username{
    text-align:right;
    font-size:16px;
    border-bottom:1px solid #cecece;
    height:30px;
    line-height:30px;
    width:100%;
    padding:0;
  }
}

// --------------------
// Style for AddMission component
.Add-mission{
  label{
    color:#abc100;
    font-weight:bold;
  }

  input,
  textarea{
    border:1px solid #abc100;
    
  }

  button{
    background-color:#abc100;
    border:1px solid #abc100;
  }

  .form-group{
    text-align: left;
  }
}

// --------------------
// Style for contact component
.contact{
  

  .address-map{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    margin:5% auto;


    .address {
      width:50%;
      min-height:400px;
      display: table;
      text-align:center;

      .address-detail{
        display:table-cell;
        vertical-align: middle;
      }

      p {
        margin:0;
        padding:0;
        text-align:left;
      }
    }

    #kgmap {
      width:50%;
      min-width:350px;
      min-height:350px;
      height:100%;
      // border:1px solid #cecece;
      padding: 0;
      margin:0;
      text-align:left;

    }
  }

  h3 {
    color:#abc100;
    text-align:left;
    font-size:1.3rem;
    font-weight:bolder;
  }

  .question{
    color:#abc100;
    text-align:left;
    font-weight:bolder;
    h4 {
      font-size:1.1rem;
    }
    margin: 2% auto 2% auto;
  }

  .answer{
    text-align:left;
  }

  
}

// --------------------
// Style for service component
.Service {
  h1 {
    color: #abc100;
    font-size:1.5rem;
    text-align:left;
    font-weight:bolder;
  }
  div {
    &:nth-child(1){
      text-align:left;
    }
    // text-align:left;
  }

  .services{
    margin:5%;
    padding:1%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;

    .service-item{
      width: 30%;
      max-width:200px;
      border: 1px solid #cecece;
      text-align:center;
      font-size:0.8rem;
      min-height:300px;

      div{
        width:100%;
        text-align:center;
        overflow:hidden;
        img {
          width:196px;
          height:200px;
          
        }
      }

      div{
        &:nth-child(3){
          padding-right:20px;
          text-align:right;
          color:#10a6d3;
        }

        &:nth-child(3):hover{
          cursor:pointer
        }
      }

      .service-title {
        margin: 30px 0 20px 0;
        color: #abc100;
        font-weight:bolder;
      }
    }

    
  }
  .service-content{
    width:100%;
    padding:10px 10px;
    margin:0 auto;
    text-align:left;
    height:260px;
    background-color: #abc100;
    color:#ffffff;
    display:table;

    .content-cell {
      display:table-cell;
      vertical-align: middle;
    }
    
  }
}

// --------------------
// Style for purpose component
.purpose {
  .header{
    padding:1% auto;
    margin:1% auto 5% auto;
    h2 {
      font-size:1.5rem;
      color:#abc100;
      font-weight:bolder;
      margin:2% auto;
      padding:1% auto;
    }

    .header-content {
      text-align:left;
    }

    
  }

  .main-content{
    p {
      text-align:left;
      margin:auto;
      padding-left:10px;
    }

    li{
      text-align:left;
    }

    .con-active {
      background-color: #abc100;
      color:#ffffff;
      font-weight:bolder;
    }
  }

}

// --------------------
// Style for Team component
.Team {
  .header {
    width:100%;
    margin:5% auto;
    text-align:left;
  }

  .content-header {
    width: 100%;
    font-size:1.3rem;
    color:#abc100;
    text-align:left;
  }

  .teachers{
    border-bottom: 1px solid #abc100;
    .teacher-header{
      width: 100%;
      font-size:1rem;
      color:#abc100;
      text-align:left;
    }

    .teacher{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      align-content: stretch;
      margin:10px;
      padding:5px;
      

      .teacher-image{
        width:25%;
        display:table;

        img {
          border:1px solid #cecece;
          background-color: #dddddd;
          width:160px;
          height:160px;
          margin:auto;
          display:table-cell;
          vertical-align: middle;
        }
      }
      .teacher-intro{
        width:75%;
        padding:1%;
        text-align:left;

        p{
          &:nth-child(1) {
            font-weight: bold;
          }
        }

        p{
          &:nth-child(2) {
            font-size:0.9rem;
          }
        }

      }

      
    }
  }
  .dean{
    border-bottom: 1px solid #abc100;
    margin-top:2%;
    padding-top:1%;
    div {
      &:nth-child(2){
        text-align:left;
        margin-bottom:5%;
        margin-top:2%;
      }
    }
  }
  .support {
    margin-top:2%;
    padding-top:1%;
    div {
      &:nth-child(2){
        text-align:left;
        margin-bottom:5%;
        margin-top:2%;
      }
    }
  }

}

// --------------------
// Style for Life component
.life {
  .main1 {
    width:100%;
    margin: 5% auto;

    .header{
      text-align:left;
      color:#abc100;
      font-size:1.1rem;
      font-weight:bolder;
      margin-bottom:15px;
    }

    .content {
      text-align:left;
    }

  }

  .festival-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

    .festival-image {
      width: 20%;
      min-width:130px;
      height:150px;
      overflow:hidden;
      text-align:center;
      margin:2%;
      padding:10px 3px;
      // border:1px solid #abc100;
      background-color:rgba(211, 211, 211, 0.2);
      box-shadow:1px 2px 2px #cccccc;

      p {
        margin-top:15px;
        color:#abc100;
      }

      img{
        width:80px;
        height:80px;
      }
    }
  }

}

// --------------------
// Style for registration component
.Registration {
  .notice,
  .cost,
  .download{
    margin:3% auto 3% auto;
    padding-bottom:3%;
    text-align:left;

    .header {
      color:#abc100;
      font-size: 1.3rem;
      font-weight:bolder;
      margin-bottom:10px;
    }
  }

  .notice,
  .cost{
    border-bottom: 1px solid #abc100;
  }


}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}