// --------------------
// Definition of variables
$primary: #32c3ff;


// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
@import '../node_modules/bootstrap/scss/bootstrap.scss';
// 
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------


// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: Arial,Cursive,'LiSu';
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  
  text-align: center;

  .App-header {
    padding: 0;
    
    .App-title {
      // font-size: 20px;
      background-color:#ffffff;
      color: #abc100;
      padding:20px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-end;
      align-content: center;

      h1{
        font-size: 25px;
      }


      
  
        img{
          width:30px;
          height:auto;
          margin-left:10px;
          margin-bottom:15px;
          box-shadow: 2px 2px 3px #ffffff;
          border-radius:15px;
        }
      
    }


  }



  .App-intro {
    font-size: large;
  }


}

// --------------------
// Style for publick part
.outer-div {
  margin: 3%;
  border:1px solid #abc100;
  box-shadow: 3px 3px 3px #cecece;
  padding:2%;
  border-radius:10px;
}

// --------------------
// Style for NavBar component
.navbar {
  background-color:#abc100;
  // color: #ff4057;
  border-top:1px solid #abc100;
  box-shadow:3px 3px 2px #cccccc;
  padding:0;
  height:50px;
  line-height:50px;

  

  .navbar-nav{
    margin:0;
    padding:0;
    height:100%;
  }


  a {
    color:#FFFFFF;
    padding: 0 5px;
    text-decoration: unset;
    display:inline-block;
    font-size:16px;
    width: 100px;
    height:100%;
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
    border-top:1px solid #abc100;
    // font-family: Fantasy;


  }

  a.active {
    font-weight: bold;
    color:#abc100;
    background-color:#ffffff;
  }

  
}

// --------------------
// Style for Home component
.Home {
  width:95%;
  margin:10px auto;
  // font-family: 'LiSu';
  
  
  .carousel-item img {
    min-height:400px;
    height:100%;
  }

  .welcome {
    height:100%;
    min-height:400px;
    width:100%;
    border:1px solid #cecece;
    // font-family:'LiSu';

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;

    .left {
      width: 25%;
      margin-left:10px;
      padding:15px;
      

      h3 {
        height: 10%;
        margin-top:10%;
        color:#abc100;
        font-weight:bold;
      }

      .intro {
        display:table;
        margin:0;
        height:70%;
        font-size:1.2em;

        div {
          display:table-cell;
          vertical-align: middle;
          text-align:left;
        }
      }
    }
    .right {
      width: 70%;
      padding:10px 13px;

      .row{
        height:50%;
        width:100%;
        font-size:1.2em;
        color:#ffffff;

        .col-cont1{
          background-color:#a075d1;
        }

        .col-cont2 {
          background-color:#2abea8;
        }

        .col-cont3{
          background-color:#f85959;
        }

        .col-title1 {
          width:100%;
          height: 30%;
          margin-top:10%;
          padding:5%;
          text-align:left;
        }

        .col-content1 {
          width:100%;
          height: 40%;
          padding:5%;
          text-align:right;
        }

        .col-title2 {
          margin-top:15%;
          width:100%;
          height: 30%;
          padding:2%;
          text-align:left;
        }

        .col-content2 {
          width:100%;
          padding:0;
          margin-bottom:0;
          text-align:center;
        }

        .col-content22 {
          width:100%;
          padding:0;
          margin-top:0;
          text-align:right;
        }

        
        .col-content31 {
          width:100%;
          height: 50%;
          padding-top:20%;
          text-align:left;
        }

        .col-content32 {
          width:100%;
          height: 50%;
          padding:5%;
          text-align:right;
        }
      }

      .place-holder {
        margin:0;
        padding:0;
        height:100%;
        width:100%;
        background-color:#cecece;

        img {
          width:100%;
          height:100%;
        }
      }
    }
  }

  .announcement {
    margin-top:10px;
    margin-bottom:10px;
    width:100%;
    height:5%;
    min-height:50px;
    border:1px solid #cecece;
  }

  .about-us{
      height:100%;
      min-height:400px;
      border:1px solid #cecece;
      margin-top:10px;
      padding-top:1%;
      padding-bottom:5%;

    .aboutus-cards {
      

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: stretch;
      align-content: center;

      .cards {
        width:25%;
        padding:1%;

        .card {
          width:100%;
          height:100%;

          .card-image{
            height:80%;
            width:100%;
            padding:1px;
          }

          button {
            border:none;
            background-color:transparent;
            color:#abc100;
            font-weight:bold;
            border:none;
            outline:none;
          }
          
        }

        .card-image img{
          width:100%;
          height:100%;
        }

      }
    }

    .selected-card{
      margin:0;
      width:100%;
      padding:1%;
      text-align:left;
    }
  }


  p {
    font-size: 1.2em;
  }
}

// --------------------
// Style for Signup component
.Signup {
  width:80%;
  padding:5%;
  margin:3% auto;
  border: 1px solid #cecece;
  border-radius: 5px;
  background-color: #efefef;

  label{
    width:100%;
    text-align:left;
  }
} 


// --------------------
// Style for Signup component
.Login {
  width:80%;
  padding:5%;
  margin:3% auto;
  border: 1px solid #cecece;
  border-radius: 5px;
  background-color: #efefef;

}

// --------------------
// Style for MissionList component
.Mission-list{
  margin:30px;
  padding:10px;
  width:80%;
  min-height:600px;
}

// --------------------
// Style for MissionList component
.Mission-detail{
  .tab-content{
    max-height:500px;
    overflow:auto;
  }
  
 
  .dis-content{
    text-align:left;
    font-size:20px;
    min-height:70px;
    height:100%;
    width:100%;
    padding:0;
  }
  .dis-username{
    text-align:right;
    font-size:16px;
    border-bottom:1px solid #cecece;
    height:30px;
    line-height:30px;
    width:100%;
    padding:0;
  }
}

// --------------------
// Style for AddMission component
.Add-mission{
  margin: 3%;
  border:1px solid #cecece;
  box-shadow: 3px 3px 3px #cecece;
  padding:20px;

  .form-group{
    text-align: left;
  }
}

// --------------------
// Style for contact component
.contact{
  margin: 3%;
  border:1px solid #cecece;
  box-shadow: 3px 3px 3px #cecece;
  padding:20px;

  .address-map{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;


    .address {
      width:50%;
      min-height:400px;

      p {
        margin:0;
        padding:0;
        text-align:left;
      }
    }

    .map {
      width:50%;
      border:1px solid #cecece;
    }
  }

  
}

// --------------------
// Style for service component
.Service {
  margin:5%;
  padding:3%;
  border:1px solid #cecece;
  border-radius: 5px;
}

// --------------------
// Style for purpose component
.purpose {
  margin:5%;
  padding:3%;
  border:1px solid #cecece;
  border-radius: 5px;

}

// --------------------
// Style for Team component
.Team {
  margin:5%;
  padding:3%;
  border:1px solid #cecece;
  border-radius: 5px;

}

// --------------------
// Style for Life component
.life {
  margin:5%;
  padding:3%;
  border:1px solid #cecece;
  border-radius: 5px;

}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}